In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
datasetIncendios = pd.read_csv('./modis_2021_Spain_incendios.csv')
datasetIncendios.iloc[:, [0,1,2,5]]

      latitude  longitude  brightness    acq_date
0      37.0886    -5.8802       300.4  2021-01-02
1      36.6599    -4.8777       305.5  2021-01-02
2      36.8729    -2.4486       304.8  2021-01-02
3      36.8745    -2.4347       334.7  2021-01-02
4      40.2352    -0.8699       320.1  2021-01-04
...        ...        ...         ...         ...
4720   43.1755    -5.4329       309.2  2021-12-31
4721   43.2442    -3.7813       316.1  2021-12-31
4722   43.1631    -5.5095       303.0  2021-12-31
4723   43.2663    -4.4370       303.2  2021-12-31
4724   28.6157   -17.8882       310.2  2021-12-31

[4725 rows x 4 columns]

In [48]:
datasetEstaciones = pd.read_excel('./ListadoEstaciones-20190206.xlsx')
datasetEstaciones.iloc[:,[2,4,5,6]]

         A CORUÑA AEROPUERTO  431825N  082219W   98
0                   A CORUÑA  432157N  082517W   58
1                 CABO VILAN  430938N  091239W   50
2            ESTACA DE BARES  434710N  074105W   80
3                   FISTERRA  425529N  091729W  230
4               MONTE IROITE  424314N  085524W  685
..                       ...      ...      ...  ...
285                CALATAYUD  411952N  013843W  582
286                   DAROCA  410652N  012436W  779
287     SOS DEL REY CATÓLICO  422927N  011249W  626
288      ZARAGOZA AEROPUERTO  413938N  010015W  249
289  ZARAGOZA, VALDESPARTERA  413715N  005606W  254

[290 rows x 4 columns]

In [189]:
datasetClima = pd.read_excel('./Clima Aemet 2021/Aemet2021-01/Aemet2021-01-01.xls')
datasetEstaciones = pd.read_excel('./ListadoEstaciones-20190206.xlsx')
datasetEstaciones.iloc[:,[2,4,5,6]]
datasetClima = datasetClima.assign(latitude =  np.zeros(len(datasetClima)))
datasetClima = datasetClima.assign(longitude = np.zeros(len(datasetClima)))

for x in range(len(datasetClima)):
    if x >= 4:
        for y in range(len(datasetEstaciones)):
            if datasetClima.iloc[x,0].upper() == datasetEstaciones.iloc[y,2].upper():
                datasetClima.iloc[x,-2] = int(datasetEstaciones.iloc[y,4][:2])+int(datasetEstaciones.iloc[y,4][2:4])/60 + int(datasetEstaciones.iloc[y,4][4:6])/3600
                datasetClima.iloc[x,-1] = (int(datasetEstaciones.iloc[y,5][:2])+int(datasetEstaciones.iloc[y,5][2:4])/60 + int(datasetEstaciones.iloc[y,5][4:6])/3600)*-1
                break
            else:
                datasetClima.iloc[x,-2] = None
                datasetClima.iloc[x,-1] = None
datasetClima[16:26]

,España,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,latitude,longitude
16,Noia,A Coruña,7.5 (14:00),2.6 (07:00),5,24 (16:20),5 (16:20),11.6,2.6,2,3.2,3.8,NaN,NaN
17,Monte Iroite,A Coruña,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.720556,-8.923333
18,Boiro,A Coruña,9.6 (15:40),2.1 (09:50),5.9,NaN,NaN,5.6,1.8,0.6,1.4,1.8,NaN,NaN
19,Padrón,A Coruña,8.7 (14:40),1.8 (04:40),5.2,36 (15:50),19 (15:50),18.1,3,3.1,5.9,6.1,42.738333,-8.627222
20,Santiago de Compostela,A Coruña,6.6 (14:30),2.4 (03:50),4.5,27 (11:20),7 (15:20),16.7,2.3,2.9,7,4.5,42.876111,-8.555833
21,"Rois, Casas do Porto",A Coruña,7.8 (15:30),2.1 (10:00),5,NaN,NaN,15.2,3.2,4,4.4,3.6,NaN,NaN
22,Ossa de Montiel,Albacete,5.2 (14:40),-1.0 (23:59),2.1,46 (02:10),20 (00:30),15,2.8,5.2,7,0,NaN,NaN
23,Villarrobledo,Albacete,8.5 (15:40),0.2 (02:40),4.4,42 (13:10),28 (14:10),7.8,2.4,5.4,0,0,NaN,NaN
24,Munera,Albacete,4.6 (15:40),-0.4 (23:40),2.1,32 (14:10),15 (15:50),10.6,3.4,1.4,5.8,0,NaN,NaN
25,"Yeste, Embalse Fuensanta",Albacete,7.2 (14:40),2.5 (21:50),4.8,NaN,NaN,3.8,1.8,0.6,0.4,1,NaN,NaN

In [193]:
datasetClima

,España,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,latitude,longitude
0,"Actualizado: sábado, 02 enero 2021 a las 18:00...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
1,"Fecha: viernes, 01 enero 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
3,Estación,Provincia,Temperatura máxima (ºC),Temperatura mínima (ºC),Temperatura media (ºC),Racha (km/h),Velocidad máxima (km/h),Precipitación 00-24h (mm),Precipitación 00-06h (mm),Precipitación 06-12h (mm),Precipitación 12-18h (mm),Precipitación 18-24h (mm),0.000000,0.000000
4,Estaca de Bares,A Coruña,10.0 (08:20),6.4 (12:40),8.2,68 (12:40),53 (02:00),5.8,1,1.6,3.2,0,43.786111,-7.684722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,San Juan de la Rambla,Santa Cruz de Tenerife,14.4 (12:50),9.5 (23:20),11.9,28 (06:40),15 (02:00),0,0,0,0,0,NaN,NaN
796,Cerler-Cogulla,Huesca,-1.5 (12:10),-10.9 (23:59),-6.2,30 (04:20),26 (08:20),1.6,0,0.8,0.8,0,NaN,NaN
797,Panticosa-Petrosos,Huesca,-2.4 (15:40),-7.2 (23:59),-4.8,18 (04:10),13 (04:10),0,0,0,0,0,NaN,NaN
798,Valverde,Santa Cruz de Tenerife,14.4 (12:10),11.1 (07:30),12.8,32 (22:20),19 (22:20),0,0,0,0,0,NaN,NaN
799,"Sóller, Puerto",Illes Balears,13.4 (01:20),7.9 (11:00),10.6,45 (20:50),26 (21:50),33.6,0,13,16,4.6,NaN,NaN

In [192]:
res = 0
for x in range(len(datasetClima)):
    if x >= 4:
        for y in range(len(datasetEstaciones)):
            if datasetClima.iloc[x,0].upper() == datasetEstaciones.iloc[y,2].upper():
                res = res + 1
                break
res

217